UEFN INFOS
CREATIVE 2.0/UEFN INFOS

●Console players will not have access to the coding/programming part of UEFN, only pc.

●The UEFN props that are made can NOT be copied over to 1.0/Normal Creative and be used anytime.

●Anyone can publish maps on UEFN, but the only way to make money is with a code and billing info.

●Monetization will work by playtime and the total number of players at a given point.

●You will NOT be able to publish a project with Copyrighted Assets; however, you CAN import them into your project and play with those with friends.

●You will not lose your map or props; as for everyone, it will be like 2.0 does not exist.

●Scripting for consoles will come but not for at least the first 6 months of release.

●In order to script on console you have to have a keyboard plugged into the console. 

LINKS USED TO LEARN UEFN!
https://dev.epicgames.com/documentation/en-us/uefn/verse-glossary (VERSE GLOSSARY)
https://dev.epicgames.com/documentation/en-us/uefn/unreal-editor-for-fortnite-documentation (UEFN DOCUMENATION)
https://dev.epicgames.com/documentation/en-us/uefn/unreal-editor-for-fortnite-glossary (UEFN GLOSSARY)
https://dev.epicgames.com/community/learning/courses/Yl6/fortnite-your-first-hour-in-uefn/yXkB/fortnite-your-first-hour-in-uefn-overview (MOST RECCOMMENDED)

